*{
    margin: 0;
    padding: 0;
}


.container{
    width: 1170px;
    margin: 0 auto;
}
body{
    font-family: serif;
}


.hero{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    padding-top: 528px;
    padding-left: 224px; ;
    padding-bottom: 133px;
}

.hero-title{
    font-size: 48px;
    line-height: 59px;
    margin-bottom: 16px;
    text-transform: uppercase;


}

.hero-subtitle{
    font-size: 18px;
    line-height: 22px;


}


